<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-input #termino type="text" (keyup)="buscarProductos(termino.value)" class="form-control" placeholder="Buscar"></ion-input>
  </ion-toolbar>
</ion-header>


<ion-content>
    <div class="md-cards">

            <div class="contenedor">
               <h3>Discos</h3>
               <ion-button fill="clear" routerLink="/tienda/tabsTienda/tabDiscos">
                   <ion-icon slot="start" name="arrow-forward"></ion-icon>
               </ion-button>
               <ion-grid fixed>
                   <ion-col class="">
                       <ion-segment scrollable>
                           <ion-col *ngFor="let disco of discos">
                               <ion-card-content class="card-scroll"  (click)="mostrarProducto(disco.id)">
                                   <ion-img [src]="disco.ruta"></ion-img>
                                   <h4>{{disco.producto}}</h4>
                                   <h5>{{disco.artista}}</h5>
                               </ion-card-content>
                           </ion-col>
                       </ion-segment>
                   </ion-col>
               </ion-grid>
            </div>

            <div class="contenedor">
               <h3>Ropas</h3>
               <ion-button fill="clear" routerLink="/tienda/tabsTienda/tabRopa">
                   <ion-icon slot="start" name="arrow-forward"></ion-icon>
               </ion-button>
               <ion-grid fixed>
                   <ion-col class="">
                       <ion-segment scrollable>
                           <ion-col *ngFor="let ropa of ropas">
                               <ion-card-content class="card-scroll"  (click)="mostrarProducto(ropa.id)">
                                   <ion-img [src]="ropa.ruta"></ion-img>
                                   <h4>{{ropa.producto}}</h4>
                                   <h5>{{ropa.artista}}</h5>
                               </ion-card-content>
                           </ion-col>
                       </ion-segment>
                   </ion-col>
               </ion-grid>
            </div>

            <div class="contenedor">
               <h3>Otros</h3>
               <ion-button fill="clear" routerLink="/tienda/tabsTienda/tabOtros">
                   <ion-icon slot="start" name="arrow-forward"></ion-icon>
               </ion-button>
               <ion-grid fixed>
                   <ion-col class="">
                       <ion-segment scrollable>
                           <ion-col *ngFor="let otro of otros">
                               <ion-card-content class="card-scroll"  (click)="mostrarProducto(otro.id)">
                                   <ion-img [src]="otro.ruta"></ion-img>
                                   <h4>{{otro.producto}}</h4>
                                   <h5>{{otro.artista}}</h5>
                               </ion-card-content>
                           </ion-col>
                       </ion-segment>
                   </ion-col>
               </ion-grid>
            </div>

    </div>
</ion-content>
