<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img class="imgHead" src="/assets/LOGOSA.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <form ngNativeValidate [formGroup]="perfilForm" (ngSubmit)="enviarFormulario()">
    <div class="imagn">
    </div>
    <!-- <ion-button fill="clear" class="btnEditar" expand="full" color="primary" type="submit">
      <ion-icon slot="start" name="create"></ion-icon>
    </ion-button> -->

    <ion-label>Correo Electrónico</ion-label>
    <ion-card>
      <ion-item>
        <ion-input formControlName="codUsuario"  name="codUsuario" type="text" [value]="usuario.id" hidden></ion-input>
        <ion-input formControlName="email"  name="email" type="email" [value]="usuario.email" required placeholder="Introduce el email:"></ion-input>
        <ion-button fill="clear" class="btnEditar" expand="full" color="primary" type="submit">
          <ion-icon slot="start" name="create"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
    <ion-label>Usuario</ion-label>
    <ion-card>
      <ion-item>
        <ion-input formControlName="usuario"  name="usuario" type="text" [value]="usuario.usuario" required placeholder="Introduce el usuario:"></ion-input>
        <ion-button fill="clear" class="btnEditar" expand="full" color="primary" type="submit">
          <ion-icon slot="start" name="create"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
    <ion-label>Contraseña</ion-label>
    <ion-card>
      <ion-item>
        <ion-input formControlName="password"  name="password" type="password" [value]="usuario.password" required placeholder="Introduce la contraseña:"></ion-input>
        <ion-button fill="clear" class="btnEditar" expand="full" color="primary" type="submit">
          <ion-icon slot="start" name="create"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
    <ion-label>Telefono</ion-label>
    <ion-card>
      <ion-item>
        <ion-input formControlName="tlf"  name="tlf" type="tel" [value]="usuario.tlf" required placeholder="Introduce el teléfono:"></ion-input>
        <ion-button fill="clear" class="btnEditar" expand="full" color="primary" type="submit">
          <ion-icon slot="start" name="create"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
    <ion-label>Direccion</ion-label>
    <ion-card>
      <ion-item>
        <ion-input formControlName="direccion"  name="direccion" type="text" [value]="usuario.direccion" required placeholder="Introduce la dirección:"></ion-input>
        <ion-button fill="clear" class="btnEditar" expand="full" color="primary" type="submit">
          <ion-icon slot="start" name="create"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card>
    <ion-button class="buttonIni" expand="full" color="primary" shape="round" color="transparent" type="submit">
      Aceptar
    </ion-button>
  </form>
  </div>
</ion-content>
