
ion-img.imgHead{
    width: 185px;
    height: 56px;
    margin:auto;
}


div.imagn {
    width:200px;
    height:200px;
    border:1px solid black;
    border-radius:100%;
   background:url(https://img2.freepng.es/20180716/lra/kisspng-logo-person-user-person-icon-5b4d2bd2236ca6.6010202115317841461451.jpg) center no-repeat;
   background-size: cover;
   margin: 10px;   
}

ion-img.imgIni{
    min-width: 180px;
    max-width: 181px;
    min-height: 180px;
    max-height: 181px;
    display:block;
    margin:auto;
    margin-top: 40px;
}

ion-button.btnEditar{
    max-width: 25%;
    top: -8px;
}

ion-button.buttonIni {
    width: 140px;
    margin:auto;
    border-radius: 25px;
    color: white;
    background-color: rgb(0, 148, 57);
    padding-bottom: 4px;
}

ion-label {
    margin-left: 20px;
}


div {
    display: flex;
}

form {
    margin: 30px auto;
}
