<ion-header>
  <ion-toolbar>
    <ion-buttons slot=start>
      <ion-back-button defaultHref="inbox"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
      <ion-card-content id="infoProducto">
        <ion-img [src]="producto.ruta"></ion-img>

        <ion-card-content>
          <ion-label id="producto" name="tipo">{{ producto.tipo }}</ion-label><br/>
          <ion-label id="artista" name="artista">{{producto.artista}}</ion-label><br/>
          <ion-label id="precioProducto" name="precio">{{producto.precio}} €</ion-label>
        </ion-card-content>

        <ion-card-content id="descripcionProducto">
          <ion-label id="infolabel">Información del producto</ion-label><br/>
          <ion-label id="descripcion" name="producto">{{producto.producto}}</ion-label>
        </ion-card-content>

        <ion-card-content *ngIf="tallas.length > 0" id="descripcionProducto">
          <ion-label id="infolabel">Talla</ion-label><br/>
          <ion-select id="descripcion" required>
            <ion-select-option *ngFor="let talla of tallas" [value]="talla">{{talla.nombre}} (Stock = {{talla.stock}})</ion-select-option>
          </ion-select>
        </ion-card-content>

        <ion-card-content *ngIf="tallas.length === 0" id="descripcionProducto">
          <ion-label id="infolabel">Stock</ion-label><br/>
          <ion-label id="descripcion" name="stock">{{producto.stock}}</ion-label>
        </ion-card-content>

        <ion-button id="btnComprar" (click)="anadirAlCarrito(talla)" color="primary" expand="full">
          Añadir al carrito
        </ion-button>
      </ion-card-content>

</ion-content>
