<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
      [(ngModel)]="miBuscador"
      placeholder="Buscar"
      [showCancelButton]="miStringDeCancell"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="md-cards">
      <div class="md-card-cont">
          <h3>CD's</h3>
          <mbsc-scrollview *ngIf="cds" [options]="scrollViewOptions" class="scrollInicio">
              <mbsc-scrollview-item mbsc-card *ngFor="let cd of cds">
                  <mbsc-card-content (click)="mostrarProducto(cd.id)">
                      <img class="md-img" [src]="cd.ruta" draggable="false">
                      <mbsc-card-title>{{cd.producto}}</mbsc-card-title>
                      <mbsc-card-subtitle>{{cd.artista}}</mbsc-card-subtitle>
                  </mbsc-card-content>
              </mbsc-scrollview-item>
          </mbsc-scrollview>

          <h3>Album digitales</h3>
          <mbsc-scrollview *ngIf="albumDigitales" [options]="scrollViewOptions" class="scrollInicio">
              <mbsc-scrollview-item mbsc-card *ngFor="let albumDigital of albumDigitales">
                  <mbsc-card-content (click)="mostrarProducto(albumDigital.id)">
                      <img class="md-img" [src]="albumDigital.ruta" draggable="false">
                      <mbsc-card-title>{{albumDigital.producto}}</mbsc-card-title>
                      <mbsc-card-subtitle>{{albumDigital.artista}}</mbsc-card-subtitle>
                  </mbsc-card-content>
              </mbsc-scrollview-item>
          </mbsc-scrollview>

          <h3>Vinilos</h3>
          <mbsc-scrollview *ngIf="vinilos" [options]="scrollViewOptions" class="scrollInicio">
              <mbsc-scrollview-item mbsc-card *ngFor="let vinilo of vinilos">
                  <mbsc-card-content (click)="mostrarProducto(vinilo.id)">
                      <img class="md-img" [src]="vinilo.ruta" draggable="false">
                      <mbsc-card-title>{{vinilo.producto}}</mbsc-card-title>
                      <mbsc-card-subtitle>{{vinilo.artista}}</mbsc-card-subtitle>
                  </mbsc-card-content>
              </mbsc-scrollview-item>
          </mbsc-scrollview>
      </div>
  </div>
</ion-content>
