<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-input #termino type="text" (keyup)="buscarDiscos(termino.value)" class="form-control" placeholder="Buscar"></ion-input>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="md-cards">

          <div class="contenedor">
             <h3>CD's</h3>
             <ion-grid fixed>
                 <ion-col class="">
                     <ion-segment scrollable>
                         <ion-col *ngFor="let cd of cds">
                             <ion-card-content class="card-scroll"  (click)="mostrarProducto(cd.id)">
                                 <ion-img [src]="cd.ruta"></ion-img>
                                 <h4>{{cd.producto}}</h4>
                                 <h5>{{cd.artista}}</h5>
                             </ion-card-content>
                         </ion-col>
                     </ion-segment>
                 </ion-col>
             </ion-grid>
          </div>

          <div class="contenedor">
             <h3>Album digitales</h3>
             <ion-grid fixed>
                 <ion-col class="">
                     <ion-segment scrollable>
                         <ion-col *ngFor="let albumDigital of albumDigitales">
                             <ion-card-content class="card-scroll"  (click)="mostrarProducto(albumDigital.id)">
                                 <ion-img [src]="albumDigital.ruta"></ion-img>
                                 <h4>{{albumDigital.producto}}</h4>
                                 <h5>{{albumDigital.artista}}</h5>
                             </ion-card-content>
                         </ion-col>
                     </ion-segment>
                 </ion-col>
             </ion-grid>
          </div>

          <div class="contenedor">
             <h3>Vinilos</h3>
             <ion-grid fixed>
                 <ion-col class="">
                     <ion-segment scrollable>
                         <ion-col *ngFor="let vinilo of vinilos">
                             <ion-card-content class="card-scroll"  (click)="mostrarProducto(vinilo.id)">
                                 <ion-img [src]="vinilo.ruta"></ion-img>
                                 <h4>{{vinilo.producto}}</h4>
                                 <h5>{{vinilo.artista}}</h5>
                             </ion-card-content>
                         </ion-col>
                     </ion-segment>
                 </ion-col>
             </ion-grid>
          </div>

  </div>
</ion-content>
