<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-searchbar
      [(ngModel)]="miBuscador"
      placeholder="Buscar"
      [showCancelButton]="miStringDeCancell"
      (ionInput)="onInput($event)"
      (ionCancel)="onCancel($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="otros">
    <ion-item *ngFor="let otro of otros" (click)="mostrarProducto(otro.id)">
      <ion-img [src]="otro.ruta"></ion-img>
      <ion-label>{{otro.producto}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
