ion-img.imgIni{
    min-width: 180px;
    max-width: 181px;
    min-height: 180px;
    max-height: 181px;
    display:block;
    margin:auto;
    margin-top: 40px;
}

ion-button.buttonIni {
    width: 140px;
    margin:auto;
    margin-bottom: 10px;
    border-radius: 55px;
    color: white;
    background-color: rgb(0, 148, 57);
}

ion-button.buttonReg {
    width: 140px;
    margin:auto;
    border-radius: 55px;
    color: white;
    background-color: rgb(0, 148, 57);
}

ion-label {
    margin-left: 20px;
}
