<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-input type="text" placeholder="Buscar"></ion-input>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="md-cards">

      <div class="contenedor">
         <h3>Nuevos productos</h3>
         <ion-button fill="clear" routerLink="/tienda/tabsTienda/tabDiscos">
             <ion-icon slot="start" name="arrow-forward"></ion-icon>
         </ion-button>
         <ion-grid fixed>
             <ion-col class="">
                 <ion-segment scrollable *ngIf="productos">
                     <ion-col *ngFor="let producto of productos">
                         <ion-card-content class="card-scroll"  (click)="mostrarProducto(producto.id)">
                             <ion-img [src]="producto.ruta"></ion-img>
                             <h4>{{producto.producto}}</h4>
                             <h5>{{producto.artista}}</h5>
                         </ion-card-content>
                     </ion-col>
                 </ion-segment>
             </ion-col>
         </ion-grid>
      </div>

      <div class="contenedor">
         <h3>Nuevos artistas</h3>
         <ion-button fill="clear" routerLink="/artistas">
             <ion-icon slot="start" name="arrow-forward"></ion-icon>
         </ion-button>
         <ion-grid fixed>
             <ion-col class="">
                 <ion-segment scrollable *ngIf="artistas">
                     <ion-col *ngFor="let artista of artistas">
                         <ion-card-content class="card-scroll"  (click)="mostrarProductos(artista.id)">
                             <ion-img [src]="artista.foto"></ion-img>
                             <h4>{{artista.artista}}</h4>
                             <h5>{{artista.fechafundacion}}</h5>
                         </ion-card-content>
                     </ion-col>
                 </ion-segment>
             </ion-col>
         </ion-grid>
      </div>

  </div>
</ion-content>
