<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-input type="text" placeholder="Buscar"></ion-input>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="md-cards">
      <div class="md-card-cont">
          <h3>Nuevos productos</h3>
          <mbsc-scrollview *ngIf="productos" [options]="scrollViewOptions" class="scrollInicio">
              <mbsc-scrollview-item mbsc-card *ngFor="let producto of productos">
                  <mbsc-card-content>
                      <img class="md-img" [src]="producto.ruta" draggable="false">
                      <mbsc-card-title>{{producto.producto}}</mbsc-card-title>
                      <mbsc-card-subtitle>{{producto.artista}}</mbsc-card-subtitle>
                  </mbsc-card-content>
              </mbsc-scrollview-item>
          </mbsc-scrollview>

          <h3>Nuevos artistas</h3>
          <mbsc-scrollview *ngIf="artistas" [options]="scrollViewOptions" class="scrollInicio">
              <mbsc-scrollview-item mbsc-card *ngFor="let artista of artistas">
                  <mbsc-card-content>
                      <img class="md-img" [src]="artista.foto" draggable="false">
                      <mbsc-card-title>{{artista.artista}}</mbsc-card-title>
                      <mbsc-card-subtitle>{{artista.fechafundacion}}</mbsc-card-subtitle>
                  </mbsc-card-content>
              </mbsc-scrollview-item>
          </mbsc-scrollview>
      </div>
  </div>
</ion-content>
