<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="carritoVacio === false">
      <form (ngSubmit)="realizarPedido()">
        <div class="contendor" *ngFor="let carritoProducto of carrito.productos; let i = index">
          <img [src]="carritoProducto.ruta">
          <h1>{{carritoProducto.producto}}</h1>
          <p>{{carritoProducto.artista}}</p>
          <p>{{carritoProducto.precio}} €</p>
          <ion-input class="cantidad" type="text" name="cantidad" [value]="carritoProducto.cantidad" placeholder="Cant." disabled>
          </ion-input>
          <ion-icon *ngIf="carritoProducto.cantidad >= 1 || carritoProducto.cantidad <= carritoProducto.stock" name="add-circle-outline" (click)="aumentarCantidad(carritoProducto)"></ion-icon>
          <ion-icon *ngIf="carritoProducto.cantidad > 1" name="remove-circle-outline" (click)="disminuirCantidad(carritoProducto)"></ion-icon>
          <ion-button fill="clear" class="btnEliminar" expand="full" color="danger" (click)="eliminarProducto(i,carritoProducto)">
            <ion-icon slot="start" name="trash"></ion-icon>
          </ion-button>
          <hr class="fincontendor"/>
        </div>

        <ion-card>
          <ion-item>
            <ion-label>Precio total:</ion-label>
            <ion-label name="precioFinal">{{carrito.preciofinal}} €</ion-label>
          </ion-item>
          <ion-button class="buttonDireccion"  fill="clear" type="submit">Obtener Direccion</ion-button>
          <ion-item>
            <ion-input [(ngModel)]="ventaForm.direccion" name="direccion" type="text" placeholder="Direccion actual" required></ion-input>
          </ion-item>
          <ion-button class="buttonIni" expand="full" color="primary" shape="round" color="transparent" type="submit">
            Realizar Compra
          </ion-button>
        </ion-card>
      </form>
    </div>

    <div *ngIf="carritoVacio === true">
      <ion-label>Carrito vacio</ion-label>
    </div>
</ion-content>
