<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="carrito.productos.length > 0">
      <form>
        <div class="contendor" *ngFor="let carritoProducto of carrito.productos; let i = index">
          <img [src]="carritoProducto.ruta">
          <h1>{{carritoProducto.producto}} - {{carritoProducto.talla.nombre}}</h1>
          <p>{{carritoProducto.artista}}</p>
          <p>{{carritoProducto.precio}}</p>
          <ion-input class="cantidad" type="number" name="cantidad" value="1" placeholder="Cant."></ion-input>
          <ion-button fill="clear" class="btnEliminar" expand="full" color="danger" (click)="eliminarProducto(i)">
            <ion-icon slot="start" name="trash"></ion-icon>
          </ion-button>
          <hr class="fincontendor"/>
        </div>

        <ion-card>
          <ion-item>
            <ion-label>Precio total:</ion-label>
            <ion-label name="precioFinal">XXX</ion-label>
          </ion-item>
          <ion-button class="buttonDireccion"  fill="clear" type="submit">Obtener Direccion</ion-button>
          <ion-item>
            <ion-input  name="direccion" type="text" placeholder="Direccion actual"></ion-input>
          </ion-item>
          <ion-button class="buttonIni" expand="full" color="primary" shape="round" color="transparent" type="submit">
            Realizar Compra
          </ion-button>
        </ion-card>
      </form>
    </div>

    <div *ngIf="carrito.productos.length === 0">
      <ion-label>Carrito vacio</ion-label>
    </div>
</ion-content>
