<ion-header>
  <ion-toolbar>
    <ion-buttons slot=start>
      <ion-back-button defaultHref="artistas"></ion-back-button>
    </ion-buttons>
    <!-- <ion-input type="text" placeholder="Buscar"></ion-input> -->
  </ion-toolbar>
</ion-header>


<ion-content>
  <div>
    <div>
        <div id="mdma2">
            <div id="mdma" *ngFor="let producto of productos">
                <ion-card class="productoCard" (click)="mostrarProducto(producto.id)">
                    <img class="imgProducto" [src]="producto.ruta" draggable="false">
                    <ion-card-content>
                        <h4>{{producto.producto}}</h4>
                        <p class="mbsc-txt-muted">{{producto.artista}}</p>
                    </ion-card-content>
                </ion-card>
            </div>
        </div>
    </div>
  </div>
</ion-content>
