<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img class="imgHead" src="/assets/LOGOSA.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form ngNativeValidate [formGroup]="registroForm" (ngSubmit)="enviarFormulario()">
      <ion-label>Email</ion-label>
        <ion-card>
          <ion-item>
            <ion-input formControlName="email"  name="email" type="email" required placeholder="Introduce el email:" ></ion-input>
          </ion-item>
        </ion-card>
        <ion-label>Usuario</ion-label>
        <ion-card>
          <ion-item>
            <ion-input formControlName="usuario"  name="usuario" type="text" required placeholder="Introduce el usuario:"></ion-input>
          </ion-item>
        </ion-card>
        <ion-label>Contraseña</ion-label>
        <ion-card>
          <ion-item>
            <ion-input formControlName="password" name="password" type="password" required placeholder="Introduce la contraseña:"></ion-input>
          </ion-item>
        </ion-card>
        <ion-label>Dirección de envío</ion-label>
        <ion-card>
          <ion-item>
            <ion-input formControlName="direccion" name="direccion" type="text" required placeholder="Introduce la direccion:"></ion-input>
          </ion-item>
        </ion-card>
        <ion-label>Teléfono</ion-label>
        <ion-card>
          <ion-item>
            <ion-input formControlName="tlf" name="tlf" type="tel" required placeholder="Introduce el teléfono:"></ion-input>
          </ion-item>
        </ion-card>
        <ion-button class="buttonIni" expand="full" color="primary" shape="round" color="transparent" type="submit">
          Aceptar
        </ion-button>
      </form>
</ion-content>
