<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img class="imgHead" src="/assets/LOGOSA.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="enviarFormulario()">
      <ion-label>Email</ion-label>
        <ion-card>
          <ion-item>
            <ion-input [(ngModel)]="registroForm.email"  name="email" type="email" placeholder="Introduce el email:" required></ion-input>
          </ion-item>
        </ion-card>
        <ion-label>Usuario</ion-label>
        <ion-card>
          <ion-item>
            <ion-input [(ngModel)]="registroForm.usuario"  name="usuario" type="text" placeholder="Introduce el usuario:" required></ion-input>
          </ion-item>
        </ion-card>
        <ion-label>Contraseña</ion-label>
        <ion-card>
          <ion-item>
            <ion-input [(ngModel)]="registroForm.password" name="password" type="password" placeholder="Introduce la contraseña:" required></ion-input>
          </ion-item>
        </ion-card>
        <ion-label>Dirección de envío</ion-label>
        <ion-card>
          <ion-item>
            <ion-input [(ngModel)]="registroForm.direccion" name="direccion" type="text" placeholder="Introduce la direccion:" required></ion-input>
          </ion-item>
        </ion-card>
        <ion-label>Teléfono</ion-label>
        <ion-card>
          <ion-item>
            <ion-input [(ngModel)]="registroForm.tlf" name="tlf" type="tel" placeholder="Introduce el teléfono:" required></ion-input>
          </ion-item>
        </ion-card>
        <ion-button class="buttonIni" expand="full" color="primary" shape="round" color="transparent" type="submit">
          Aceptar
        </ion-button>
      </form>
</ion-content>
